@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f2f4f6;
    font-family: "Inter", sans-serif;
    font-style: normal;
}

img {
    max-width: 100%;
    height: auto;
}


.bg-green {
    background-color: #FFF;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    color: #1c1c1c;
    cursor: pointer;
}

.bg-green:hover {
    background-color: #6ABF4B;
    color: #fff;
}

.text-white {
    color: #fff;
}

.text-black {
    color: #1c1c1c;
}

.text-green {
    color: #6abf4b;
}

.mr-10 {
    margin-right: 10px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-5 {
    margin-left: 5px;
}

.mr-5 {
    margin-right: 5px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-10 {
    margin-bottom: 10px;
}

.font-bold {
    font-weight: bold;
}

.heading-font-1 {
    font-size: 64px;
    font-weight: 600;
}

.heading-font-2 {
    font-size: 40px;
    font-weight: 600;
}

.font-small {
    font-size: 12px;
}

.font-dm {
    font-family: "DM Sans", sans-serif;
}

.text-center {
    text-align: center;
}

.vertical-bottom {
    vertical-align: bottom;
}

.font-20 {
    font-size: 20px;
}

.line-1 {
    line-height: 1;
}

/* Navbar */
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 40px auto;
    padding: 0px 80px;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 50px;
    position: relative;
}

.nav-list-item {
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}

.nav-list-item a {
    text-decoration: none;
    color: inherit;
}

.nav-list-item.has-submenu {
    display: flex;
    gap: 10px;
}

.nav-list-item.active {
    color: #6abf4b;
    font-weight: 600;
    position: relative;
}

.nav-list-item.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background: #6abf4b;
    width: 100%;
    height: 4px;
    border-radius: 10px;
}

/* Hero Section */
.hero-section,
.services-section {
    max-width: 1440px;
    margin: 0px auto 80px auto;
    padding: 0px 40px;
}

.hero-container-with-bg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(./images/hero-bg.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px;
    border-radius: 20px;
}

.text-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 700px;
    margin: 0 auto;
}

.image-box {
    flex: 1;
    text-align: center;
}

.button-container {
    display: flex;
    gap: 40px;
}

.btn-spacing {
    padding: 10px 40px;
    border-radius: 50px;
    outline: 0;
    border: 0;
    font-size: 16px;
}

.btn-spacing.btn-white {
    background-color: #fff;
    color: #1c1c1c;
    font-weight: 600;
}

.btn-spacing.btn-green {
    background-color: #6abf4b;
    color: #fff;
    font-weight: 600;
    line-height: 1;
    padding: 15px 40px;
    flex: none;
}

.btn-spacing.btn-transparent {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}

.hero-card-container {
    display: flex;
    gap: 40px;
}

.hero-card-container .card-wrapper {
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 40px 20px;
}

.hero-card-container .card-wrapper .card-heading {
    font-size: 24px;
}

/* Our Services */

.services-section {
    max-width: 1440px;
    margin: 0px auto;
    padding: 0px 40px;
}

.services-container-with-bg {
    display: flex;
    gap: 20px;
    background-image: url(./images/services-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 80px 0px;
}

.service-text-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px;
}

.service-text-wrapper .card-box {
    display: flex;
    /* align-items: end; */
    flex: 1;
}

.service-text-wrapper .card-box .card-wrapper {
    background: linear-gradient(180deg,
            rgba(196, 196, 196, 1) 50%,
            rgba(0, 0, 0, 0.55) 100%);
    width: 100%;
    padding: 40px 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.card-flex-container {
    display: flex;
    align-items: end;
    gap: 80px;
    flex: 1;
}

.service-card-container {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    gap: 20px;
}

.service-card-container .card-wrapper {
    background-color: #fff;
    width: 48%;
    padding: 40px 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.service-card-container .card-wrapper .card-heading {
    font-size: 24px;
}

.btn-spacing.btn-green img {
    vertical-align: middle;
}

/* Step by step guide */

.guide-section {
    max-width: 1440px;
    margin: 0px auto;
    padding: 0px 40px;
}

.guide-container-with-bg {
    text-align: center;
    background-image: url(./images/guide-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 80px 0px;
}

.guide-section .auto-tabs .card-container {
    display: flex;
    gap: 20px;
}

.guide-section .auto-tabs .tabs-container {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin: 40px auto;
}

.guide-section .auto-tabs .tabs-container .tab {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #dddddd;
    position: relative;
}

.guide-section .auto-tabs .tabs-container .tab.active {
    background: #6abf4b;
}

.guide-section .auto-tabs .tabs-container .tab::before {
    content: "";
    position: absolute;
    width: 650%;
    height: 4px;
    background-color: #dddddd;
    border-radius: 10px;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
}

.guide-section .auto-tabs .tabs-container .tab.active::before {
    background-color: #6abf4b;
}

.guide-section .auto-tabs .tabs-container .tab:last-child::before {
    content: none;
}

.guide-section .auto-tabs .card-container .card-wrapper {
    background: #fff;
    padding: 40px 20px;
    border-radius: 20px;
}

.guide-section .auto-tabs .card-container .card-wrapper.active {
    background: linear-gradient(90deg,
            rgba(152, 203, 133, 1) 0%,
            rgba(200, 209, 135, 1) 100%);
}

.guide-section .auto-tabs .card-container .card-wrapper .card-heading {
    font-size: 24px;
}

/* Why Choose */
.choose-container-with-bg {
    background-image: url(./images/choose-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.choose-section {
    max-width: 1440px;
    margin: 0 auto;
    padding: 80px 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.choose-text-box-1 {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.choose-text-box-2 {
    display: flex;
    gap: 40px;
}

.sub-text-box {
    display: flex;
    align-items: center;
    gap: 40px;
}

.sub-text-box .flex-2 {
    flex: 2;
}

.sub-text-box .flex-1 {
    flex: 1;
}

.choose-text-box-2 .flex-1 {
    flex: 1;
}

.choose-text-box-2 .point-item {
    display: flex;
    gap: 40px;
}

.choose-text-box-2 .point-item .short-text {
    display: flex;
    flex-direction: column;
}

.choose-text-box-2 .point-item .short-text .font-bold {
    font-size: 24px;
}

.choose-text-box-2 .image-box {
    text-align: right;
}


/* Testimonial section */
.test-container-with-bg {
    background-image: url(./images/test-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.test-section {
    max-width: 1440px;
    margin: 0 auto;
    padding: 100px 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.test-text-box-1 {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.test-card-wrapper {
    display: flex;
    gap: 20px;
}

.test-card {
    background: #FFF;
    border-radius: 20px;
    padding: 20px 40px 0px 40px;
    text-align: center;
}

.test-card .customer-image {
    position: relative;
    top: 30px;
}

/* Get Started */
.get-started-bg {
    background-image: url(./images/get-started-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.get-started-section {
    max-width: 1440px;
    margin-right: auto;
    display: flex;
    padding: 80px 0px;
}

.get-started-section .flex-1 {
    flex: 1;
}

.get-started-section .flex-1.gap-20 {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.get-started-section .flex-gap-20 {
    display: flex;
    gap: 20px;
}


/* Cta Section */

.cta-section {
    max-width: 1440px;
    padding: 0 40px;
    margin: 0 auto;
}

.cta-bg {
    background-image: url(./images/cta-bg.png);
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cta-section .cta-text-box {
    max-width: 700px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 60px 0px;
    text-align: center;
}

.justify-center {
    justify-content: center;
}


/* Footer */

.footer-container-with-bg {
    display: flex;
    background: url(./images/footer-bg.png);
    max-width: 1440px;
    padding: 80px 40px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    margin: 0px auto;
    gap: 160px;
}

.footer-container-with-bg .footer-col-1 {
    flex: 1;
}

.footer-container-with-bg .text-green {
    font-size: 24px;
    font-weight: 600;
}

.social-container {
    display: flex;
    gap: 10px;
}

.footer-copyright {
    max-width: 1440px;
    margin: 0 auto;
    border-top: 2px solid #D9D9D9;
    padding: 40px 0px;
    text-align: center;
}


/* Contact Us page */

/* Form Section */

/* Hero Section */
.form-section {
    max-width: 1440px;
    margin: 0px auto 80px auto;
    padding: 0px 40px;
}

.form-container-with-bg {
    background-image: url(./images/hero-bg.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px;
    border-radius: 20px;
}

.contact-form {
    max-width: 800px;
    margin: 0 auto;
    background: white;
    padding: 50px;
    border-radius: 20px;
}

.contact-form form {
    max-width: 500px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.contact-form form .label {
    font-size: 14px;
    margin-bottom: 3px;
    color: #1c1c1c;
}

.contact-form form .input,
.contact-form form .textarea {
    resize: none;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    outline: 0;
    border: 1px solid #6ABF4B;
}

.contact-form form .submit {
    padding: 5px 10px;
    border: 1px solid #6ABF4B;
    background: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}


/* Pricing Page */

.pricing-section {
    max-width: 1440px;
    margin: 0px auto;
    padding: 0px 40px;
}

.pricing-container-with-bg {
    text-align: center;
    background-image: url(./images/guide-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 80px 0px;
}

.pricing-section .card-container {
    display: flex;
    gap: 20px;
}

.pricing-section .card-container .card-wrapper {
    background: #fff;
    padding: 40px 20px;
    border-radius: 20px;
}

.pricing-section .card-container .card-wrapper.active {
    background: linear-gradient(90deg, rgba(152, 203, 133, 1) 0%, rgba(200, 209, 135, 1) 100%);
}

.pricing-section .card-container .card-wrapper .card-heading {
    font-size: 24px;
}

/* Login Page */

.login-form {
    max-width: 400px;
    padding: 30px;
}

.no-bg,
.no-padding {
    background-image: url(./images/guide-bg.png);
    padding: 20px;
}


/* Account Page */

.page-header-section {
    max-width: 1440px;
    margin: 0px auto 80px auto;
    padding: 0px 40px;
}

.page-header-container-with-bg {
    background-image: url(./images/hero-bg.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px;
    border-radius: 20px;
}

table {
    max-width: 1000px;
    margin: 0 auto;
    border-collapse: collapse;
    width: 100%;
    color: #1c1c1c;
}

td,
th {
    border: 1px solid #1c1c1c;
    text-align: left;
    padding: 8px;
}

td a,
th a{
    text-decoration: none;
    color: inherit;
}

tr:nth-child(odd) {
    background-color: #6ABF4B;
    color: #FFF;
}


.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

#modal3.modal {
    height: fit-content;
}

.modal:target {
    display: flex;
}

.modal-content {
    background: white;
    padding: 30px;
    border-radius: 5px;
    position: relative;
}

.close {
    position: absolute;
    top: 0px;
    right: 10px;
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.modal input, .modal textarea {
    resize: none;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    outline: 0;
    border: 1px solid #6ABF4B;
}

.button-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-div-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.button-div a,.button-div-2 a{
    color:inherit;
    text-decoration: none;
}

.d-flex{
    display: flex;
}

.flex-1{
    flex: 1;
}